html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.navbar {
	height: 80px;
	background: linear-gradient(to right, #f77063, #ff5296);
	border: none;
	color: white;
	z-index: 100;
	transition: background-color 1s ease 0s;
}
.navbar-default.navbar-brand {
	margin-top: 10px;
	padding: 15px;
}

a.nav-link {
	color: white;
	font-size: 20px;
}

img.navIcons {
	width: 40px;
	margin: 15px;
	transition: 0.3s;
}

a {
	text-decoration: none;
}

img.navIcons:hover {
	transition: 0.3s ease;
	transform: scale(1.2, 1.2);
}

video {
	position: relative;
	right: 0;
	bottom: 0;
	width: 100%;
	min-width: 100%;
	min-height: 100%;
	opacity: 1;
}

.shadedColor {
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
}
div.headerText {
	position: absolute;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 30%;
}

.headerText h1 {
	color: white;
}
.projects-title {
	display: flex;
	justify-content: center;
	margin: 25px 0;
}

.projects-text-muted {
	color: white;
}
.full-stack {
	font-weight: bold;
	font-size: 20px;
}

.my-name {
	font-weight: bold;
}

.img-top {
	height: 100vh;
	width: 100%;
	overflow: hidden;
}
.header-video {
	opacity: 0.5;
	width: 100%;
	overflow: hidden;
}
.this {
	text-decoration: none;
	margin: 0 15px;
	color: white;
	background-color: #f77063;
	font-family: sans-serif;
	font-size: 20px;
	border: 0.5px solid black;
	padding: 1px 15px;
	position: relative;
	overflow: hidden;
	transition: 1s;
}

.this:hover {
	color: white;
	cursor: pointer;
}

.headerText p {
	color: white;
}

.profileImg {
	width: 25em;
	border-radius: 360px;
}
.bodyContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.aboutContainer {
	margin-top: 15px;
	padding: 15px;
	position: absolute;

	background: #ffffff;
	box-shadow: 0px 3px 15px #e1e9f1;
	border-radius: 10px;
}

.skills {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 40px;
	width: 100%;
	transition: all 0.3s;
}

.skillsContainer {
	padding: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.htmlLogo {
	margin: 15px;
	height: 7em;
}
.logos {
	margin: 15px;
	height: 7em;
}

.skillsList {
	padding: 40px;
}
.additionalSkillsContainer {
	display: flex;
	justify-content: center;
}

.AdditionalSkillsHeader {
	display: flex;
	justify-content: center;
}
.projectsContainer {
	background: #f77063;
	background: linear-gradient(to right bottom, #f77063 55%, #ffb6af 45%);
	width: 100%;
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 80px;
}

.project-title {
	display: flex;
	width: 100%;
	margin: 0 auto;
	justify-content: center;
	top: 37px;
	position: absolute;
	color: black;
	font-size: 25px;
	font-weight: bold;
}

.flexStart {
	/* display: flex;
  flex-direction: column;
  align-items: flex-start; */
}
.project-description {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	color: black;
}
.project-slide {
	position: relative;
	padding: 100px 0;
	background-color: white;
	border-radius: 5px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.carousel-item {
	transition: 1s ease-in;
}
.projectsContainer h1 {
	color: white;
}

.projects-title {
	margin-top: 4%;
}
.projectCards {
	width: 70%;
	margin: 3% auto;
	display: flex;
	flex-wrap: wrap;
}
img.card-img-top * {
	box-sizing: border-box;
}

.contactButton {
	background-color: #f77063;
	border: #f77063;
	border-radius: 50%;
	height: 71px;
}

.connectAnchor,
.connectAnchor:hover {
	text-decoration: none;
	color: white;
}

.contactButton:hover {
	background-color: #ff5296;
	border: #ff5296;
	transition: all 1s ease 0s;
}

.button-container {
	display: flex;
	justify-content: center;
}
.hiddenSkills {
	display: none;
}

.skillsButton {
	display: block;
	background: #f77063;
	margin: 25px;
	color: white;
	border: none;
	position: relative;
	height: 60px;
	font-size: 1.6em;
	padding: 0 2em;
	cursor: pointer;
	transition: 800ms ease all;
	outline: none;
}
.skillsButton:hover {
	background: #fff;
	color: #f77063;
}
.skillsButton:before,
.skillsButton:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: #f77063;
	transition: 400ms ease all;
}
.skillsButton:after {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}
.skillsButton:hover:before,
.skillsButton:hover:after {
	width: 100%;
	transition: 800ms ease all;
}

.emailContainer {
	display: flex;
	justify-content: center;
}

.phoneContainer {
	display: flex;
	justify-content: flex-start;
	margin: 25px 0 8px 0;
}
.phone,
.email {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.fa-envelope,
.fa-phone {
	border: solid 1px gray;
	padding: 7px;
	border-radius: 80%;
	font-size: 1.2em;
	margin: 0 15px 0 0;
}

.pojectCards .card {
	margin: 35px 0;
}

.footerContainer {
	display: flex;
	justify-content: space-around;
}

.phoneEmailSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	border-right: 1.4px solid #d6d6d6;
}

div.socialMediaLinks {
	width: 100%;
	padding: 15px;
	display: flex;
	justify-content: center;
}

.socialIconLinks {
	display: flex;
	flex-direction: column;
	align-items: center;
}

div.socialSection {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.socialIconFooter {
	display: flex;
	justify-content: center;
}
.linkedinAnchorFooter,
.githubText {
	color: black;
}
.linkedinAnchorFooter:hover {
	color: black;
}

.lastFooterContainer {
}

@media only screen and (max-width: 1390px) {
	.img-top {
		height: 100%;
		width: 100%;
	}
	div.headerText {
		position: absolute;
		width: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		top: 20%;
	}
	.profileImg {
		width: 15em;
		border-radius: 150px;
	}
	div.headerText {
		position: absolute;
		width: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		top: 30%;
	}
}

@media only screen and (max-width: 1170px) {
	div.headerText {
		position: absolute;
		width: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		top: 20%;
	}
}

@media only screen and (max-width: 991px) {
	div.headerText {
		top: 15%;
	}

	.navbar-collapse {
		width: 100%;
		background-color: white;
		border-radius: 1%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	a.nav-link,
	.navbar-nav {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@media only screen and (max-width: 765px) {
	div.headerText {
		top: 17%;
		position: absolute;
		width: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.profileImg {
		width: 10em;
		border-radius: 150px;
	}
}

@media only screen and (max-width: 621px) {
	div.headerText {
		top: 12.3%;
		position: absolute;
		width: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.skillsButton {
		font-size: 1.2em;
	}
	.profileImg {
		width: 10em;
		border-radius: 150px;
	}
	.footerContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.phoneEmailSection {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		border-bottom: 1.4px solid #d6d6d6;
		border-right: none;
	}
	.footerIconContainer {
		display: flex;
		flex-direction: column;
		align-self: flex-start;
		margin: 0 auto;
	}
	.emailContainer {
		padding-bottom: 15px;
	}
	.projectCards {
		width: 100%;
		margin: 3% auto;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}
}

/* Theme Style */
html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
.theme-professional {
	--color-primary: #0060df;
	--color-secondary: #fbfbfe;
	--color-accent: #fd6f53;
	--font-color: #000000;
}
.bat-theme {
	--color-primary: #17ed90;
	--color-secondary: #2a2c2d;
	--color-accent: #12cdea;
	--font-color: #ffffff;
}
.container {
	display: flex;
	width: 100%;
	height: 100%;
	background: var(--color-secondary);
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.container h1 {
	color: var(--font-color);
	font-family: sans-serif;
}
.container button {
	color: var(--font-color);
	background: var(--color-primary);
	padding: 10px 20px;
	border: 0;
	border-radius: 5px;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 80px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 40px;
	width: 40px;
	left: 0px;
	bottom: 4px;
	top: 0;
	bottom: 0;
	margin: auto 0;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	box-shadow: 0 0px 15px #2020203d;
	background: #272625 url("../../icons/Grin.png");
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 40px;
}

input:checked + .slider {
	background-color: #2196f3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(43px);
	-ms-transform: translateX(43px);
	transform: translateX(43px);
	background: white url("https://i.ibb.co/7JfqXxB/sunny.png");
	background-repeat: no-repeat;
	background-position: center;
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
